<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <% if (errorMessage) { %>
        <div style="margin-bottom: 20px;" class="user-message user-message--error">
            <%= errorMessage %>
        </div>
    <%}%>
    <form class="product-form" action="/login" method="POST">
        <h1 style="color: #807b7b"> Login </h1>

        <div class="form-content">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="example@example.com" id="email" >

            <label for="password">Password</label>
            <input type="password" name="password" id="password" >

        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <button class="custom_button" type="submit">Login</button>
    </form>
</main>
<%- include('../includes/footer.ejs') %>
