<header class="main_header">
    <nav class="main_header_nav">
        <ul class="main_header_item-list">
            <li class="main_header_item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">E-Shop</a>
            </li>
            <li class="main_header_item">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
            </li>
            <% if(isAuthenticated) { %>

            <li class="main_header_item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
            </li>
            <li class="main_header_item">
                <a class="<%= path === '/order' ? 'active' : '' %>" href="/order">Order</a>
            </li>
            <li class="main_header_item">
                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product</a>
            </li>
            <li class="main_header_item">
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products</a>
            </li>
            <% } %>
        </ul>

        <ul class="main_header_item-list" style="padding-right: 40px">
            <% if(!isAuthenticated) { %>
                <li class="main_header_item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="main_header_item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>
            <% } else { %>
                <li class="main_header_item">
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>

        </ul>
    </nav>
</header>
