<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>
<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <% if(prods.length > 0) {%>
        <div class="grid">
            <% for (let i = 0; i < prods.length; ++i) { let product = prods[i];%>
            <div class="cart-item">
                <h1 class="product__title"><%= product.title %></h1>
                <p class="product__qty"> <b>QTY:</b> <%= prods[i].cartItem.qty %></p>
                <form action='/delete-cart/<%= product.id %>' method="post" class="cart-delete">
                    <button class="delete">Delete</button>
                </form>
            </div>
            <% } %>
        </div>

        <div class="grid">
            <form action='/submit-cart' method='post' class="cart-operations">
                <button> Submit Order </button>
            </form>
        </div>
    <% } else { %>
        <h1> NO PRODUCTS FOUND!</h1>
    <% } %>
</main>
<%- include('../includes/footer.ejs') %>
