<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>
<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <% if(orders.length <= 0) {%>
        <h1> NO ORDERS FOUND!</h1>
    <% } else { %>
        <ul>
            <% orders.forEach(order => { %>
            <li>
                <h1 class="product__title"> ORDER NO. <%= order._id %> </h1>
                <ul>
                    <% order.products.forEach(p => { %>
                        <li> <h3><%= p.product.title %> </h3> QTY: (<%= p.quantity %>) </li>
                    <% }); %>
                </ul>
            </li>
            <% }); %>
        </ul>

        <% } %>
</main>
<%- include('../includes/footer.ejs') %>
