<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(prods.length > 0) {%>
            <div class="grid">
                <% for (let i = 0; i < prods.length; ++i) { let product = prods[i];%>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img
                                    src="<%= product.imageUrl %>"
                                    alt="A Book"
                            >
                        </div>
                        <div class="card__content">
                            <h2 class="product__price"> $<%= product.price %> </h2>
                            <p class="product__description"><%= product.description %></p>
                        </div>
                        <div class="card__actions">
                            <form class="card_actions" action="/products/<%= product._id %>">
                                <button  class="custom_button button"> Details </button>
                            </form>
                            <%- include('../includes/add-to-cart.ejs', {product: product})%>
                        </div>

                    </article>
                <% } %>
            </div>

        <% } else { %>
        <h1> NO PRODUCTS FOUND!</h1>
        <% } %>
    </main>
<%- include('../includes/footer.ejs') %>
